{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "off",
    "no-irregular-whitespace": "off",
    "array-bracket-spacing": [
      1,
      "never"
    ]
  }
}